:root {
    --footer-bg: #121212;
    --footer-text: #e0e0e0;
    --footer-link: #90caf9;
    --footer-link-hover: #64b5f6;
}

.Footer {
    padding: 2rem 1rem;
    background-color: var(--footer-bg);
    color: var(--footer-text);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4);
    text-decoration: none;

}

.Footer__Authors a {
    text-decoration: none;
    color: var(--footer-link);
    margin: 2px 0;
    transition: color 0.3s ease;
}

.Footer__Authors a:hover {
    color: var(--footer-link-hover);
}


.Footer__Authors,
.Footer__Links {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #FFFFFF;
}

.Footer__Authors h4,
.Footer__Links h4 {
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

.Footer__Authors p {
    margin: 2px 0;
    color: var(--footer-text);
    font-weight: 400;
    text-decoration: none;
}

.Footer__Links a {
    text-decoration: none;
    color: var(--footer-link);
    margin: 3px 0;
    transition: color 0.3s ease;
}

.Footer__Links a:hover {
    color: var(--footer-link-hover);
}

@media (max-width: 600px) {
    .Footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
