/* BLOCK */
.Menu {
    position: relative;
    display: inline-block;
}

/* ELEMENT */
.Menu__List {
    position: absolute;
    z-index: 110;
    top: 100%;
    left: 0;
    right: 0;


    max-height: 80vh;
    padding: 0;
    margin: 0;
    border-top: 2px solid var(--primary);
    box-shadow: var(--box-shadow-2);

    text-align: justify;
    list-style: none;
    background-color: var(--background-color-2);
}

.Menu__Header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    padding: 0.5rem 0rem;
}

.Menu__SelectedItem {
    min-width: 32px;
    text-align: right;
}

.Menu__Placeholder {
    color: var(--gray-500);
}

.Menu__Item {
    border-bottom: 1px solid var(--gray-300);
    padding: 0.75rem;
    scrollbar-width: none;
}

.Menu__Item:hover,
.Menu__Item:focus {
    color: var(--text-color-dark);
    background-color: var(--primary-light);
    cursor: pointer;
}

.Menu__Item::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.Menu__Item:last-of-type {
    border: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* MODIFIER */
